/* List abon_obsl */
.abon-obsl__box{
  width: 1140px;
}
.abon-obsl__box .abon-obsl__item{
  margin-right: 0px;
}
.abon-obsl__box .abon-obsl__itm1, .abon-obsl__box .abon-obsl__itm3{
  width: 30%;
}
.abon-obsl__box .abon-obsl__itm2{
  width: 40%;
}
.abn-obsl_list{
  list-style-position: inside;
}
.sld_ap{
  color: #fff;
  margin-top: 80px;
}