.legal-support{
  height: auto;
  background-image: none;
}
.leg-sup__liquidation{
  text-align: left;
  font-size: 14px;
  color: #2c323b;
  padding-bottom: 20px;
}
.kad-uch-table__th{
  text-align: center;
}
.kad-uch-table__block{
}
.kad-uch-table__list{
  list-style:none;
}
.reviews-carousel-img__item{
  height: 250px;
}